.container {
	display: flex;
	justify-content: space-around;
	margin-top: 3rem;
}

.pagination {
	display: flex;
	min-width: 100%;
	justify-content: center;
	margin: 3rem;
}

.news-container {
	border: solid 1px #e7e7fd;
  margin: 5px;
}